---
---

@import "main";

.light {
  font-weight: $light-weight;
}

.math {
  line-height: 2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1rem;
  padding: 4px;
}

.denom {
  border-top: 1px solid;
}

.counts {
  margin-bottom: 20px;
}

.counts .tag {
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

body[data-theme="dark"] .counts .tag {
    color: #ff5277;
}

p.html {
  text-align: center;
}

.chessboard {
  perspective: 2000px;
  perspective-origin: bottom left;
  padding: 0.05px;
  margin-left: 20px;
  width: 700px;
  animation: float 3s ease-in-out infinite;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: -200px;
  padding-left: 40px;
}

.board-wrapper {
  transition: 0.4s all;
  position: relative;
  transform-style: preserve-3d;
  margin-top: 240px;
  transform: rotateX(40deg) rotateZ(-30deg) rotateX(10deg);
  
  #board1 {
    box-shadow: -50px 60px 20px 10px rgba(0, 0, 0, 0.1);
    z-index: -2;
  }

  .face {
    position: absolute;
    cursor: pointer;
  }

  .center {
    transform: rotateX(0deg) translateZ(225px);
  }

  .left {
    height: 344px;
    transform: rotateY(-90deg) translateZ(21.5px) translateX(218px) translateY(13.5px);
    z-index: 10;
  }

  .bottom {
    width: 346px;
    transform: rotateX(90deg) translateZ(-333.5px) translateY(211px) translateX(-0.5px);
    z-index: 10;
  }
}

.home-content {
  position: relative;
  margin: 80px 0 140px 0;
  font-weight: $normal-weight;
  max-width: 540px;
  
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: $light-weight;
  }

  svg {
    width: 650px;
    margin-top: -85px;
    margin-left: 40px;
  }
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 100px;
}

.home {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}

.arrow-trigger {

  & + svg {
    
    path {
      transition: 0.3s all;
    }
    
    & .first {
      stroke-dasharray: 920;
      stroke-dashoffset: 920;
      transition-delay: 0.3s;
    }

    & .second {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      transition-delay: 0s;
    }

    & .third {
      stroke-dasharray: 100;
      stroke-dashoffset: -100;
      transition-delay: 0s;
    }
  }

  &:hover {
    & + svg {

      & .first {
        transition-delay: 0s;
      }

      & .second, & .third {
        transition-delay: 0.3s;
      }

      & .first, & .second, & .third {
        stroke-dashoffset: 0;
      }
    }
  }
}

.navbar {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1160px;
  margin: 0 auto;
}

nav {

  a {
    margin-right: 1.5rem;
  }
}

.socials {

  margin-top: 20px;

  a {
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }
}

.not-found {
  .title {
    font-size: 6rem;
    text-shadow: 3px 0px 0px $highlight-light;
    margin-top: 200px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}

.post-item {
  display: flex;

  font-size: 1.2rem;
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .post-item-date {
    font-weight: bold;
    margin-right: 20px;
    min-width: 130px;
  }

  .post-item-title {
    margin: 0;
    font-weight: 300;
  
    & a::after {
      height: 0px;
    }

    & a:hover::after {
      height: 1.6rem;
    }

  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media (prefers-reduced-motion) {
  .chessboard {
    animation: none;
  }
}

@include media-query($on-desktop) {
  .socials {
    margin-top: 50px !important;
  }

  .home-content {
    max-width: 85%;
  }
}