@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Fonts preferences
$sans-family: 'Rubik', sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
$light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$highlight-dull: #66a3e3;
$highlight-light: #C2DAF4;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

* {
  max-width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0 30px;
  overflow-x: hidden;
  font-family: $sans-family;
}

a, .fake-link, .post-nav-item .post-title {
  color: black;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  

  &::after {
    content: ' ';
    position: absolute;
    height: 0.7rem;
    background-color: $highlight-light;
    left: -3px;
    right: -3px;
    bottom: 0px;
    z-index: -1;
    transition: 0.1s all;
  }

  &:hover, &.active {
    &::after {
      height: 1.6rem;
    }
  }
}

a.tag, a.image, a.no-highlight {
  &::after {
    content: none;
  }
}

.mobile {
  display: none;
}

img {
  max-width: 100%;
}

@include media-query($on-desktop) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }
}

@import "code", "general";