---
---

@import "main";

.math {
  line-height: 2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1rem;
  padding: 4px;
}

.denom {
  border-top: 1px solid;
}

.counts {
  margin-bottom: 20px;
}

.counts .tag {
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

body[data-theme="dark"] .counts .tag {
    color: #ff5277;
}
