---
layout: default
home: true
---

<article class="home">
  <div class="container">
    <article class="home-content">
      <h1>Chris <span class="light">Nunes</span></h1>
      <p>I am currently a student at the University of Texas at Austin, finishing the senior year of my computer science degree.
        In the summer of 2021, I will begin 
        <a href="https://www.linkedin.com/in/chris-nunes/" target="_blank" rel="noopener noreferrer">full-time work</a> as a Software Engineer at Microsoft.
      </p>
      <p>I am interested in web development, cybersecurity, and software development. In my free time, I enjoy playing 
        <a href="https://www.chess.com/member/chrisnunes" target="_blank" rel="noopener noreferrer">chess</a>, climbing, music, and playing any variety of sports.
      </p>
      <p class="mobile">View this website on a larger screen to play me in chess!</p>
      <p class="arrow-trigger desktop"><span class="fake-link">Click</span> the chessboard to challenge me to a game!</p>
      <svg class="desktop" width="888.72" height="140.62" version="1.1" viewBox="0 0 888.72 140.62" xmlns="http://www.w3.org/2000/svg"
        xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <g transform="translate(-233.96 -649.11)" fill="none" stroke="#000" stroke-width="1">
          <path class="first" d="m234.16 726.06c326.69 90.708 604.55 96.553 887.83-70.753" />
          <path class="second" d="m1122 655.31-47.161-5.4522" />
          <path class="third" d="m1102.9 698.8 19.05-43.486" />
        </g>
      </svg>
      <div class="socials">
        <a href="https://www.linkedin.com/in/chris-nunes/" target="_blank" rel="noopener noreferrer">Linkedin</a>
        <a href="https://github.com/chrisnunes57" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="https://www.instagram.com/chris.__.nunes/" target="_blank" rel="noopener noreferrer">Instagram</a>
      </div>

    </article>
    <div class="chessboard desktop">
      <div class="board-wrapper">
        <div class="face center" id="board1" style="width: 350px;"></div>
        <img class="face left" src="../assets/img/placeholder-left.png" />
        <img class="face bottom" src="../assets/img/placeholder-bottom.png" />
      </div>
    </div>
  </div>
  
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
  integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
<script src="../assets/js/chess.js"></script>
<script src="../assets/js/chessGame.js" type="module"></script>
