---
layout: default
home: true
---

<div class="fader" id="fader"></div>
<article class="home">
  <div class="container">
    <article class="home-content">
      <h1>Chris <span class="light">Nunes</span></h1>
      <p>I&apos;m currently a software engineer at <a href="https://www.linkedin.com/in/chris-nunes/" target="_blank" rel="noopener noreferrer">Microsoft</a>, working with digital signatures, certificates, and cryptography.</p>
      <p>In my free time, I like to create websites, and I&apos;m always trying to learn more about cyber security and
      penetration testing.</p>
      <p>In my <strong>fun</strong> free time, I like doing anything sporty! I love playing soccer,
      volleyball, and basketball, as well as lifting weights and rock climbing. I&apos;ve also been learning guitar recently,
      and I solve the NYT crossword religiously.</p>
      <p class="mobile">View this website on a larger screen to play me in chess!</p>
      <p class="arrow-trigger desktop"><span class="fake-link">Click</span> the chessboard to challenge me to a game!</p>
      <svg class="desktop" width="888.72" height="140.62" version="1.1" viewBox="0 0 888.72 140.62" xmlns="http://www.w3.org/2000/svg"
        xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <g transform="translate(-233.96 -649.11)" fill="none" stroke="#000" stroke-width="1">
          <path class="first" d="m234.16 726.06c326.69 90.708 604.55 96.553 887.83-70.753" />
          <path class="second" d="m1122 655.31-47.161-5.4522" />
          <path class="third" d="m1102.9 698.8 19.05-43.486" />
        </g>
      </svg>
      

      <div class="socials">
        <a href="https://www.linkedin.com/in/chris-nunes/" target="_blank" rel="noopener noreferrer">Linkedin</a>
        <a href="https://github.com/chrisnunes57" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="https://www.instagram.com/chris.__.nunes/" target="_blank" rel="noopener noreferrer">Instagram</a>
      </div>

    </article>
    <div class="chessboard desktop"  id="begin-game">
      <div class="board-wrapper" id="wrapper">
        <div class="face center" id="board1" style="width: 350px;"></div>
        <img class="face left" src="../assets/img/placeholder-left.png" alt=""/>
        <img class="face bottom" src="../assets/img/placeholder-bottom.png" alt=""/>
      </div>
    </div>
    <div class="controls desktop" id="controls">
      <button id="challenge">Send Challenge</button>
      <h3 id="status"></h3>
      <button id="exit-game">Close Game</button>
      <p>Clicking "Send Challenge" will send me a game invite through the Lichess platform.</p>
      <p>Once I receive and accept the challenge, a real-time chess game will start!</p>
    </div>
  </div>
  
</article>

<script src="../assets/js/loadChessScripts.js"></script>
